/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/LiveStreaming.iml
/src/main/asciidoc/dataobjects.adoc
/target/*
/target/

/file-uploads/*
/.settings/*
/out/*
/.idea/*
/out/**
/out/*/*
/test.log
/.classpath
/.project
